*.pyc
*.xml
*.iml
*.csv
*.pkl
*.csv.gz
*.Rhistory
*.npy
.idea/
.coverage
.ipynb_checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/
.pytest_cache
test_script.py
training.py
*_test.py
*_exp.py
*_exp.pdf
.DS_Store
*.egg-info
*_pg.ipynb
mimic.p
*venv/
*.icloud
